<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Max Hodak </title>
    <link type="text/css" rel="stylesheet" media="all" href="/default.css" />
    <link rel="stylesheet" href="https://use.typekit.net/lme5ved.css" />
    <link
      rel="alternate"
      type="application/atom+xml"
      title="Max Hodak's Writings"
      href="/writings.xml"
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@max_hodak" />
     
  </head>
  <body>
    <div id="splash">
  <h1>Arpan Ghosh</h1>
  <p>
    I am a general intelligence living in San Francisco. My training is in
    biomedical engineering; my primary research interest is brain-machine
    interfaces. I believe that one of the essential goals of our generation is
    to understand the physics of consciousness and learn to engineer experience
    directly.
  </p>
  <p>
    I am currently CEO of <a href="https://science.xyz">Science</a>, a
    biology-driven technology company focused on the brain. Previously, I helped
    start <a href="https://www.neuralink.com">Neuralink</a>, where I served as
    President from inception through early 2021, and
    <a href="https://www.transcriptic.com">Transcriptic</a>, a robotic cloud
    laboratory for the life sciences, where I was CEO for the first five years.
    I graduated from Duke University's Pratt School of Engineering in May 2012
    after averaging 128,550 miles flown each of the prior two years commuting
    between full-time work in California, and school and research in North
    Carolina. I've been programming since I was five or six, and am eagerly
    looking forward to a world more bits than atoms.
  </p>
  <ul class="inline-bulleted" style="padding-top: 20px;">
    <li><a href="/cv.html">resume</a></li>
    <li><a href="/projects/index.html">projects</a></li>
    <li><a href="http://www.linkedin.com.in/arpnghosh">linkedin</a></li>
    <li><a href="http://www.github.com/arpnghosh">github</a></li>
  </ul>
</div>

    <div id="footer">
      &copy;  2022
    </div>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
      });
    </script>
    <script
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
      type="text/javascript"
    ></script>
    <script src="https://www.googletagmanager.com/gtag/js?id=G-TP9D6VHXYH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-TP9D6VHXYH");
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-5833716-2"]);
      _gaq.push(["_trackPageview"]);
      (function () {
        var ga = document.createElement("script");
        ga.type = "text/javascript";
        ga.async = true;
        ga.src =
          ("https:" == document.location.protocol
            ? "https://ssl"
            : "http://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
